@font-face {
    font-family: Norse-bold;
    src: url('Norse-Bold.otf');
}

body {

background-color: black;
}
.f-label{
font-size: 5rem;
color: white;
}
.onleaves {
    display: flex;

}
h2 {
    font-family: Norse-bold;
}

    

